html {
    background-color: #444444;
}

#mainDiv {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: minmax(100px, 200px) 1fr;
}

#headerDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 16px;
}
#topHeader {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 32px;
}


#bookForm {
    visibility: hidden;
}

.bookTitle {
    background-color: antiquewhite;
}

#libraryDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 200px)
}

dialog::backdrop {
    backdrop-filter: blur(5px);
}